* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    background: #f4f6f8;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 450px;

    background: white;

    padding: 30px;

    border-radius: 12px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

h1 {
    text-align: center;

    margin-bottom: 25px;
}

.input-section {
    display: flex;

    gap: 10px;
}

#taskInput {
    flex: 1;

    padding: 12px;

    border: 1px solid #ccc;

    border-radius: 6px;

    font-size: 16px;
}

#addButton {
    padding: 12px 18px;

    border: none;

    border-radius: 6px;

    background: #006d77;

    color: white;

    cursor: pointer;

    font-size: 15px;
}

#addButton:hover {
    background: #00545c;
}

#taskList {
    list-style: none;

    margin-top: 25px;
}

.task {
    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 12px;

    margin-bottom: 10px;

    background: #f1f3f5;

    border-radius: 6px;
}

.task.completed span {
    text-decoration: line-through;

    color: gray;
}

.task-buttons {
    display: flex;

    gap: 5px;
}

.complete-button,
.delete-button {
    border: none;

    padding: 7px 10px;

    border-radius: 5px;

    cursor: pointer;
}

.complete-button {
    background: #8ac926;

    color: white;
}

.delete-button {
    background: #ef476f;

    color: white;
}